# IntelliJ
#--------------------------------------------------

/.idea

# Maven
#--------------------------------------------------

/target

# Vaadin
#--------------------------------------------------

/frontend/generated

/frontend/index.html

/vite.generated.ts

# Node/NPM
#--------------------------------------------------

/node_modules
